/* 0. Breakpoints ==================================== */
// Small tablets and large smartphones (landscape view)
$breakpoint-phone: 576px;

// Small tablets (portrait view)
$breakpoint-tablet: 768px;

// Tablets and small desktops
$breakpoint-desktop: 992px;

// Large tablets and desktops
$breakpoint-xl: 1200px;

/* 1. Colors ========================================= */
$primary-color: #94552c;
$text-color: #fffcf7;
$accent-color: #70dbe1;

/* 2. Fonts  ========================================= */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap");

$main-font: "Noto Sans TC", sans-serif;
