/* 
=====================================================
Project:	
Developer:		Michelle Graham akak @webDevShelly
=====================================================
*/

/* 0. Reset ========================================= */

@use "reset";
@use "variables";
@use "mixins";

/* 1. Main Layout =================================== */

* {
	box-sizing: border-box;
}

body {
	background: variables.$primary-color;
	color: variables.$text-color;
	font-family: variables.$main-font;
}

/* 2. Content ====================================== */

header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 200px;
	padding: 20px;
	background-image: url("/src/img/cove.jpg");
	background-position: bottom;
	background-size: cover;

	@include mixins.bp-small {
		height: 400px;
	}

	h2 {
		font-size: 2rem;
	}
}

main {
	width: 100%;
	max-width: variables.$breakpoint-desktop;
	padding: 10px;
	margin: 0 auto;

	.gallery-title {
		margin: 3rem 0;

		@include mixins.bp-small {
		}

		h1 {
			font-size: 2.5rem;
			line-height: 3rem;
			font-weight: 500;
		}

		h3 {
			line-height: 1.5rem;
			color: variables.$accent-color;
		}
	}

	.gallery-description {
		display: flex;
		flex-wrap: wrap;

		> p {
			line-height: 1.5rem;
			flex-basis: 100%;
			margin: 1rem 0;
			padding: 0 1.5rem 0 0;

			@include mixins.bp-large {
				flex-basis: 50%;
			}

			a {
				color: variables.$accent-color;
			}
		}
	}

	.gallery-image-grid {
		display: flex;
		flex-wrap: wrap;

		figure {
			position: relative;
			flex-basis: 100%;
			margin-bottom: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;

			@include mixins.bp-small {
				flex-basis: 50%;

				&:nth-child(2n - 1) {
					flex-basis: calc(50% - 5px);
					margin-right: 5px;
				}
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: 0.3s;
			}

			figcaption {
				position: absolute;
				width: 100%;
				padding: 20px;
				bottom: 0;
				color: variables.$text-color;
				background: rgba(0, 0, 0, 0.6);

				transition: 0.3s;
				transform: translateY(100%);
			}

			&:hover {
				figcaption {
					transform: translateY(0);
				}

				img {
					transform: scale(1.2);
				}
			}
		}
	}

	.comments {
		margin: 3rem 0;

		h4 {
			padding: 5px 0px;
		}

		.comment {
			@extend .media;

			background: rgba(255, 255, 255, 0.1);
			padding: 5px;
			margin-bottom: 5px;

			img {
				width: 60px;
				height: 60px;
				border-radius: 60px;
			}
		}
	}
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem 0;
	background: variables.$accent-color;
	color: variables.$primary-color;

	nav {
		display: flex;

		.social {
			@extend .media;
			margin-right: 1rem;
		}

		a {
			text-decoration: none;

			img {
				width: 25px;
				height: auto;
				margin-right: 0.3rem;
			}
		}
	}
}

.media {
	display: flex;
	align-items: center;

	.media-figure {
		margin-right: 1em;
	}

	.media-content {
		flex: 1;
	}
}
